/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  border: none;
  display: block;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 20px;
  color: #fff;
  transition: all 0.5s;
}
button:disabled {
  background: #B3B3B3;
}
button:disabled:hover {
  background: #B3B3B3;
}
@media (max-width: 767px) {
  button {
    font-size: 16px;
  }
}

input,
select {
  border: 1px solid #B3B3B3;
  border-radius: 8px;
  padding: 16px;
}

.color-danger {
  color: #FF4747;
}

.btn-group {
  display: flex;
  margin-top: auto;
}
@media (max-width: 767px) {
  .btn-group {
    margin-top: 16px;
  }
}

.cancel {
  background: #B3B3B3;
  margin-left: auto;
  margin-right: 16px;
}
.cancel:hover {
  background: #9b9b9b;
}

.add {
  background: #72BFFF;
}
.add:hover {
  background: #4C9CDD;
}

.del {
  background: #FF4747;
}
.del:hover {
  background: #e03636;
}

.edit {
  background: #72BFFF;
  transition: background 0.5s;
  margin-right: 8px;
}
.edit:hover {
  background: #4C9CDD;
}

input,
select {
  margin-bottom: 8px;
}

input.is-invalid,
input.is-invalid:focus-visible {
  border: 1px solid #FF4747;
  outline: none;
}

.invalid-feedback,
.form-error {
  display: block;
  margin-top: 8px;
  color: #FF4747;
  font-weight: bold;
}

.disabled {
  pointer-events: none;
}

.content {
  padding-left: 200px;
  padding-top: 89px;
}
@media (max-width: 820px) {
  .content {
    padding-left: 0;
    padding-top: 82px;
  }
}
@media (max-width: 767px) {
  .content {
    padding-top: 68px;
  }
}

.container {
  max-width: 1520px;
  width: 100%;
  padding: 50px 20px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .container {
    padding: 20px;
  }
}

.mask.active,
.menu-mask.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  display: flex;
  transition: opacity 0.3s ease;
  padding: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}

.mask.active {
  z-index: 998;
}

.menu-mask.active {
  z-index: 8;
}

header {
  background: #D7ECE2;
  color: #1B6032;
  padding: 12px 110px;
  height: 89px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header h1 {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
header img {
  width: 48px;
  height: 60px;
  padding-right: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}
header #menuToggle {
  display: none;
}

@media (max-width: 820px) {
  header {
    height: 82px;
    display: flex;
    align-items: center;
    padding: 16px 20px;
  }
  header h1 {
    font-size: 20px;
  }
  header img {
    width: 36px;
    height: 50px;
    padding-right: 8px;
  }
  header #menuToggle {
    display: block;
    margin-left: auto;
    width: 32px;
    height: 32px;
    border: none;
    background: #1B6032;
    padding: 6px;
  }
  header #menuToggle:before, header #menuToggle:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  header #menuToggle:before {
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  header {
    padding: 16px 20px;
    height: 68px;
  }
  header img {
    width: 28px;
    height: 36px;
  }
}
#menu {
  position: fixed;
  top: 89px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  background: #fff;
  box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.25);
  z-index: 9;
}

.menu-list li {
  text-align: center;
  border-bottom: 1px solid #B3B3B3;
}
.menu-list li a {
  width: 100%;
  font-size: 16px;
  padding: 36px 0;
  transition: all 0.5s;
}
.menu-list li a:hover, .menu-list li a.active {
  color: #1B6032;
  background: #f4f4f4;
}

@media (max-width: 820px) {
  .menu-mask.active {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  #menu {
    position: absolute;
    top: 82px;
    bottom: auto;
    width: 100%;
    height: 0;
    box-shadow: none;
    overflow: hidden;
    transition: all 0.5s;
  }
  #menu.active {
    height: 392px;
  }
  .menu-list li {
    text-align: center;
    border-bottom: 1px solid #B3B3B3;
  }
  .menu-list li a {
    padding: 16px 0;
  }
}
@media (max-width: 767px) {
  #menu {
    top: 68px;
  }
}
.title {
  display: flex;
  justify-content: end;
  align-items: center;
}
.title button {
  background: #72BFFF;
  color: #fff;
  padding: 10px 28px;
  font-size: 16px;
  transition: all 0.5s;
}
.title button:hover {
  background: #4C9CDD;
}

h2 {
  max-width: 1425px;
  width: 100%;
  color: #1B6032;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 820px) {
  h2 {
    text-align: start;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 20px;
  }
}
h2 span {
  font-size: 16px;
  color: #B3B3B3;
}
@media (max-width: 767px) {
  h2 span {
    display: block;
    margin-top: 8px;
  }
}

.bg-gray {
  background: #f4f4f4;
  min-height: calc(100vh - 89px);
}
@media (max-width: 820px) {
  .bg-gray {
    min-height: calc(100vh - 82px);
  }
}
@media (max-width: 767px) {
  .bg-gray {
    min-height: calc(100vh - 68px);
  }
}

.model {
  display: none;
  max-width: 644px;
  width: 100%;
  background: #fff;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 48px;
}
@media (max-width: 767px) {
  .model {
    max-width: 335px;
    height: auto;
    border-radius: 8px;
    padding: 24px;
  }
}
.model.active {
  display: flex;
  flex-direction: column;
}
.model .header {
  margin-bottom: 24px;
}
.model .header h3 {
  font-size: 24px;
  text-align: center;
}
.model .header h3 span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #B3B3B3;
  margin-top: 8px;
}
@media (max-width: 767px) {
  .model .header h3 {
    font-size: 20px;
  }
  .model .header h3 span {
    font-size: 16px;
  }
}
.model .body .input_group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.model .body .input_item {
  width: calc(50% - 12px);
}
.model .body .input_item.w-100 {
  width: 100%;
}
.model .body .input_item input,
.model .body .input_item select {
  width: 100%;
  margin-top: 8px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .model .body .input_item input,
  .model .body .input_item select {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
  }
}
.model .body .input_item .amount_input {
  position: relative;
}
.model .body .input_item .amount_input:before {
  content: "$";
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  top: 42px;
  left: 16px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .model .body .input_item .amount_input:before {
    top: 35px;
    left: 10px;
    font-size: 16px;
  }
}
.model .body .input_item .amount_input input {
  padding: 16px 16px 16px 30px;
}
@media (max-width: 767px) {
  .model .body .input_item .amount_input input {
    padding: 8px 8px 8px 22px;
  }
}

.delModel {
  max-width: 480px;
  min-height: 284px;
  height: auto;
}
.delModel .body {
  font-size: 18px;
}
.delModel .body p {
  margin-bottom: 16px;
}
.delModel .body p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
}

#main {
  display: flex;
  height: calc(100vh - 89px);
}
#main h2 {
  width: 300px;
  height: 615px;
  background: url(../img/home-title.png) no-repeat;
  background-size: contain;
  margin-right: 100px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
#main .m-auto {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#main .img {
  max-width: 480px;
}
#main .img img {
  width: 100%;
}

@media (max-width: 820px) {
  #main {
    height: calc(100vh - 82px);
  }
  #main h2 {
    position: absolute;
    top: 114px;
    left: 56px;
    width: 358px;
    height: 734px;
    z-index: 3;
    margin-right: 0;
  }
  #main .m-auto {
    display: block;
    margin: 0;
  }
  #main .img {
    width: 100%;
  }
  #main .img img {
    display: block;
    position: absolute;
    right: 58px;
    bottom: 56px;
    width: 418px;
    height: 627px;
  }
}
@media (max-width: 767px) {
  #main {
    height: calc(100vh - 68px);
  }
  #main h2 {
    top: 107px;
    left: 56px;
    width: 174px;
    height: 389px;
  }
  #main .img {
    width: 100vw;
    height: calc(100vh - 68px);
    padding: 30px;
    display: flex;
    justify-content: end;
    align-items: end;
  }
  #main .img img {
    position: static;
    max-width: 360px;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 820px) {
  .cash_content {
    width: 100%;
    overflow-x: scroll;
  }
}

.cash_list {
  width: 100%;
  margin-top: 42px;
  margin-bottom: 40px;
  background: #fff;
}
@media (max-width: 820px) {
  .cash_list {
    margin-top: 30px;
    width: 960px;
  }
}
.cash_list thead .search input,
.cash_list thead .search select {
  border: 1px solid #B3B3B3;
  padding: 10px 16px;
  margin-bottom: 0;
}
.cash_list thead,
.cash_list tbody {
  width: 100%;
}
.cash_list thead tr,
.cash_list tbody tr {
  border-bottom: 1px solid #B3B3B3;
}
.cash_list thead th,
.cash_list tbody th {
  font-weight: bold;
}
.cash_list thead th,
.cash_list thead td,
.cash_list tbody th,
.cash_list tbody td {
  padding: 16px 0;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  font-size: 16px;
}
@media (max-width: 820px) {
  .cash_list .pad-width-m input {
    max-width: 120px;
  }
}
.cash_list .edit,
.cash_list .del {
  border-radius: 0;
  padding: 8px;
  color: #fff;
  font-size: 16px;
}
.cash_list .reset-btn button {
  background: none;
  color: #000;
}
.cash_list .btn-group {
  justify-content: center;
}

.page {
  display: flex;
  justify-content: center;
}
.page .pagination {
  display: flex;
  align-items: center;
}
.page .pagination .page-link {
  padding: 16px;
  font-size: 20px;
}
.page .pagination .page-link:hover, .page .pagination .page-link.active {
  color: #1B6032;
}
@media (max-width: 767px) {
  .page .pagination .page-link {
    font-size: 16px;
  }
}

.title {
  margin-bottom: 24px;
}

.report_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .report_content {
    flex-direction: column;
  }
}
.report_content h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}
.report_content h3 span {
  display: block;
  padding-top: 16px;
}
.report_content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 16px);
  height: 100%;
}
@media (max-width: 767px) {
  .report_content > div {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .report_content .income {
    margin-bottom: 36px;
  }
}

.container-subject {
  max-width: 885px;
}

.subject_content {
  display: flex;
}

.subject-btn {
  color: #000;
  background: #d9d9d9;
  margin-right: 16px;
  border-radius: 8px 8px 0 0;
  transition: all 0.5s;
}
.subject-btn:hover, .subject-btn.active {
  background: #fff;
}

.add_subject {
  padding: 24px;
  background: #fff;
  max-width: 377px;
  width: 100%;
}
.add_subject h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}
.add_subject .input_item {
  margin-bottom: 16px;
}
.add_subject .input_item input {
  width: 100%;
  padding: 16px;
  margin-top: 16px;
  font-size: 16px;
}

.subject_table {
  margin-left: 48px;
  max-width: 460px;
  width: 100%;
  background: #fff;
  padding: 16px;
}
.subject_table .edit, .subject_table .del {
  border-radius: 0;
  padding: 8px;
  font-size: 16px;
}
.subject_table .edit {
  margin-left: auto;
}
.subject_table table {
  width: 100%;
  text-align: center;
}
.subject_table table tr {
  border-bottom: 1px solid #B3B3B3;
}
.subject_table table th, .subject_table table td {
  padding: 16px 0;
  vertical-align: middle;
  line-height: 1.5;
}/*# sourceMappingURL=main.css.map */