#main {
    display: flex;
    height: calc(100vh - 89px);
    h2 {
        width: 300px;
        height: 615px;
        background: url(../img/home-title.png) no-repeat;
        background-size: contain;
        margin-right: 100px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .m-auto {
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .img {
        max-width: 480px;
        img {
            width: 100%;
        }
    }
}

@include pad {
    #main {
        height: calc(100vh - 82px);
        h2 {
            position: absolute;
            top: 114px;
            left: 56px;
            width: 358px;
            height: 734px;
            z-index: 3;
            margin-right: 0;
        }
        .m-auto {
            display: block;
            margin: 0;
        }
        .img {
            width: 100%;
            img {
                display: block;
                position: absolute;
                right: 58px;
                bottom: 56px;
                width: 418px;
                height: 627px;
            }
        }
    }
}

@include mobile() {
    #main {
        height: calc(100vh - 68px);
        h2 {
            top: 107px;
            left: 56px;
            width: 174px;
            height: 389px;

        }
        .img {
            width: 100vw;
            height: calc(100vh - 68px);
            padding: 30px;
            display: flex;
            justify-content: end;
            align-items: end;
            img {
                position: static;
                max-width: 360px;
                width: 100%;
                height: auto;
            }
        }
    }
}
