$primary-color: #1B6032;
$secondary-color: #D7ECE2;
$gray-color: #B3B3B3;
$lightgray-color: #f4f4f4;
$black-color: #000;
$white-color: #fff;
$btn-primary: #72BFFF;
$btn-primary-hover: #4C9CDD;
$btn-danger: #FF4747;
$danger-color:#FF4747;
